.navBar {
  display: flex;
  flex-direction: row;
  padding: 28px;
  align-items: center;
  background-color: rgb(16, 16, 22);
  color: rgb(228, 228, 228);
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(124, 124, 124);
}

.menuItems {
  li {
    margin-bottom: 0;
  }
  a {
    font-family: "Montserrat, sans-serif";
    font-weight: 800;
    font-size: 20px;
    color: rgb(228, 228, 228);

    &:hover {
      text-decoration: underline;
    }
  }
}
